.serviceContainer {
  width: 100%;
  margin: var(--spacing-10) 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  width: 100%;
  margin: 5rem 0;
}

.card {
  padding: var(--spacing-1);
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-1);
}

.cardTitle {
  margin-bottom: var(--spacing-1);
}

.card img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--spacing-2);
}
