.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--spacing-10);
  width: 100%;
  margin: 16rem auto var(--spacing-10) auto;

  @media (max-width: 768px) {
    text-align: center;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 460px;
    margin: 12rem auto var(--spacing-10) auto;
    gap: var(-spacing-6);
  }
}

.hero p {
  margin-bottom: var(--spacing-2);
  color: var(--grey-color);
  font-size: 1.5rem;
}

.heroImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  padding: 1.2rem 3rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: var(--primary-color);
}
