.container {
  padding: 0 var(--spacing-10);
  margin: 0 auto;
  max-width: 1440px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: var(--spacing-10) 0;
  gap: var(--spacing-10);
}

.heroHeader {
  width: 50%;
}

.hero p {
  margin-bottom: var(--spacing-2);
  color: var(--grey-color);
  font-size: 1.5rem;
}

.heroImage {
  width: 50%;
}

.heroImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.serviceContainer {
  width: 100%;
  margin: var(--spacing-10) 0;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2);
  width: 100%;
  margin: 5rem 0;
}

.card {
  padding: var(--spacing-1);
  border: 1px solid var(--border-color);
  border-radius: var(--spacing-1);
}

.cardTitle {
  margin-bottom: var(--spacing-1);
}

.card img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  margin-bottom: var(--spacing-2);
}

.footer {
  text-align: left;
  padding: var(--spacing-2) 0;
  border-top: 1px solid var(--border-color);
}

.footerColumns {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: var(--spacing-1);
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  margin: 0.5rem 0;
}

.footerLinks a {
  color: var(--grey-color);
  font-size: 1.4rem;
}

.footer p {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.4rem;
  color: rgb(58, 58, 58);
}
