.nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.navLinks {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--spacing-2);
  align-items: center;
  list-style: none;
}
